:root{
    --light-white: rgb(250, 250, 250);
    --medium-white: rgb(219, 219, 219);
    --medium-grey: rgb(142,142,142);
    --dark-blue: rgb(56, 81, 133);
    --medium-blue: rgb(0, 149, 246);
}

img{
    max-width: 100%;
    max-height: 100%;
}

.container{
    position: absolute;
    left:0;
    top:0;
    width:100%;
}

.page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 791px;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-grow:1;
    margin: 32px 0px 0px 0px;
    padding: 0px 0px 32px 0px;
    justify-content:center;
    align-items: center;
}

.left-container{
    position: relative;
    flex-basis: 380px;
    height: 581px;
    width: 380px;
    margin-right: 32px;
    margin-bottom: 12px;
}

.phone{
    height: 581px;
    width: 380px;
}

.right-container{
    width: 350px;
    height:100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border{
    border-width: 1px;
    border-style: solid;
    border-color: var(--medium-white);
    background-color: white;
}

.login {
    height: 380px;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.login-logo{
    height: 51px;
    width: 176px;
    margin: 36px 0 12px 0;
}

.login-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    height: 267px;
    width: 348px;
    margin-top: 28px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-info{
    height: 36px;
    width: 258px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: var(--medium-white);
    background-color: var(--light-white);
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    padding: 0px 0 0px 8px;
    font-size: 12px;
}

.login-button{
    height: 32px;
    width: 268px;
    border-radius: 8px;
    border-style: none;
    color: white;
    background: var(--medium-blue);
    opacity: 0.7;
    margin: 8px 0 8px 0;
    font-size: 14px;
    font-weight:600; 
}

.line{
    height: 15px;
    width: 268px;
    margin-top: 10px;
    margin-bottom: 18px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.login-facebook {
    height: 20px;
    width: 268px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.facebook-icon {
    border-style: none;
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.password{
    height: 16px;
    margin-top: 12px;
    font-size: 12px;
    color: rgb(0, 55, 107);
    text-decoration: none;
}

.signup {
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.signup-text{
    color: rgb(0, 149, 246);
    text-decoration: none;
    font-weight: 600;
}

.store{
    height: 95px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store-imgs {
    height: 44px;
    width: 100%;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.footer {
    min-height: 134px;
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    color: var(--medium-grey);
}

.top-row{
    font-size: 12px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.top-row > a{
    margin: 0 8px 12px 8px;
    height: 11px;
    line-height: 12px;
    color: var(--medium-grey);
    text-decoration: none;
}

.bottom-row{
    max-height: 11px;
    font-size: 12px;
    margin: 12px 0 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

@media only screen and (max-width: 875px) {
    .left-container{
        display: none;
        width: 0px;
    }
}

@media only screen and (max-width: 450px) {
    .main-container{
        margin: 0;
    }
    .border{
        border-style: none;
        background-color: transparent;
    }
    .right-container{
        margin: 0;
        justify-content: space-between;
    }
}